@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn.active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

body {
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .card {
  position: relative;
  width: 350px;
  height: 350px;
  background-image: linear-gradient(224deg, hsl(213, 20%, 18%), hsl(216, 12%, 8%) 150%);
  border-radius: 2em;
  box-shadow: 0px 2px 20px hsla(0, 0%, 0%, 0.105);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 23px;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 1.7rem;
}

p {
  color: hsl(217, 12%, 63%);
  font-size: 0.9rem;
}

.buttons {
  display: flex;
  gap: 15px;
}
.buttons button {
  padding: 15px 20px;
  border-radius: 50%;
  border: none;
  color: hsl(217, 12%, 63%);
  background-color: hsl(213, 20%, 18%);
  cursor: pointer;
}
.buttons button:hover {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

.submit button {
  padding: 13px 125px;
  border-radius: 20px;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  font-weight: 500;
  cursor: pointer;
}
.submit button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.text {
  margin-top: 70px;
}

.circle {
  position: absolute;
  left: 15%;
  top: 15%;
  transform: translate(-50%, -50%);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: hsl(213, 20%, 18%);
  z-index: -1;
  /* Coloca o círculo atrás da estrela */
}

.image1 {
  position: absolute;
  left: 15%;
  top: 15%;
  transform: translate(-50%, -50%);
  z-index: 0;
  /* Garante que a estrela fique na frente do círculo */
}

.image2 {
  width: 130px;
}

.retangle {
  width: 160px;
  height: 35px;
  background-color: hsl(213, 20%, 18%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5em;
}
.retangle #response {
  color: hsl(25, 97%, 53%);
  font-size: 0.8rem;
}

.anotherText {
  text-align: center;
}
.anotherText p {
  margin-top: 10px;
}