// Font
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

// Variables
$Orange: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$Light-Grey: hsl(217, 12%, 63%);
$Medium-Grey: hsl(216, 12%, 54%);
$Dark-Blue: hsl(213, 20%, 18%);
$Very-Dark-Blue: hsl(216, 12%, 8%);

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Button Effect
.btn.active {
    background-color: $Orange;
    color: $White;
}

body {
    background-color: $Very-Dark-Blue;
    font-family: 'Overpass', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .card {
        position: relative;
        width: 350px;
        height: 350px;
        background-image: linear-gradient(224deg, $Dark-Blue, $Very-Dark-Blue 150%);
        border-radius: 2em;
        box-shadow: 0px 2px 20px hsla(0, 0%, 0%, 0.105);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        gap: 23px;
    }
}

h1 {
    color: $White;
    font-size: 1.7rem;
}

p {
    color: $Light-Grey;
    font-size: 0.9rem;
}

.buttons {
    display: flex;
    gap: 15px;

    button {
        padding: 15px 20px;
        border-radius: 50%;
        border: none;
        color: $Light-Grey;
        background-color: $Dark-Blue;
        cursor: pointer;
    }

    button:hover {
        background-color: $Medium-Grey;
        color: $White;
    }
}

.submit {
    button {
        padding: 13px 125px;
        border-radius: 20px;
        border: none;
        color: $White;
        background-color: $Orange;
        font-weight: 500;
        cursor: pointer;
    }

    button:hover {
        background-color: $White;
        color: $Orange;
    }
}

.text {
    margin-top: 70px;
}

.circle {
    position: absolute;
    left: 15%;
    top: 15%;
    transform: translate(-50%, -50%);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: $Dark-Blue;
    z-index: -1;
    /* Coloca o círculo atrás da estrela */
}

.image1 {
    position: absolute;
    left: 15%;
    top: 15%;
    transform: translate(-50%, -50%);
    z-index: 0;
    /* Garante que a estrela fique na frente do círculo */
}

// Page 2

.image2 {
    width: 130px;
}

.retangle {
    width: 160px;
    height: 35px;
    background-color: $Dark-Blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5em;

    #response {
        color: $Orange;
        font-size: 0.8rem;
    }
}

.anotherText {
    text-align: center;

    p {
        margin-top: 10px;
    }
}